<div class="w3-bar-block">
  <a href="#products" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-cubes"></i> Products</a>
  <a href="#add_product" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-plus" aria-hidden="true"></i> Add product</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-info-circle"></i> Contact</a>
</div>